*{margin: 0;padding: 0;border: 0;}
body{overflow-x: hidden;}

/* indexPage */
#home img{z-index: 20;width: 25px;position: fixed;margin-top: 30px;}
ol, ul {list-style: none;}
html, body {background: #000;}
body{color: rgba(255, 255, 255, 0.75);font-family: "Roboto", Helvetica, sans-serif;font-size: 15pt;font-weight: 100;line-height: 1.75em;}
a {transition: 0.2s ease-in-out, color 0.2s ease-in-out;color: #e44c65;text-decoration: none;}
a:hover {color: #e44c65 !important;border-bottom-color: transparent;}
strong, b {color: #ffffff;font-weight: 300;}

/*indexHeader*/
#landing{
    padding-top: 3.5em;
}
#header {
    background: rgba(39, 40, 51, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
}
#header #home, #movieHeader #home, #roadMapHeader #home {
    left: 1.25em;
    position: absolute;
}
#header nav, #infoPage nav, #roadMapHeader nav {
    z-index: 20;
    position: absolute;
    right: 1em;
    top: 20px;
}
#header nav ul, #infoPage nav ul, #roadMapHeader nav ul {
    margin: 0;
    position: fixed;
    right: 30px;
}
#header nav ul li, #nav ul li {
    display: inline-block;
    margin-left: 1em;
    z-index: 20;
}
#header nav ul li a, #header nav ul li span, #nav ul li a{
    border: 0;
    color: inherit;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    outline: 0;
}
#header nav ul li a.button, #header nav ul li span.button {
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
}
#header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
    margin-right: 0.5em;
}
#header nav ul li.active > a, #header nav ul li.active > span {
    color: #e44c65;
}
#header nav ul li > ul {
    display: none;
}
body.wrapper #landing {
    padding-top: 0;
}
body.wrapper #header {
    background: transparent;
    box-shadow: none;
    position: absolute;
}

/*banner*/
#banner {
    background-attachment: fixed;
    background-color: #272833;
    background-position: center center;
    background-size: cover;
    background-image: url("https://extmovie.maxmovie.com/xe/files/attach/images/135/392/701/029/223fa5abf3eaf3781591c5008226425c.gif");
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25);
    text-align: center;
    z-index: 21;
    display: block;
    padding: 300px 0;
    width: 1%;
    background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.95)), url("https://extmovie.maxmovie.com/xe/files/attach/images/135/392/701/029/223fa5abf3eaf3781591c5008226425c.gif");
    background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.5), rgba(23, 24, 32, 0.95)), url("https://extmovie.maxmovie.com/xe/files/attach/images/135/392/701/029/223fa5abf3eaf3781591c5008226425c.gif");
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

#banner .content {
    display: inline-block;
    margin-right: 1%;
    max-width: 95%;
    padding: 6em;
    position: relative;
    text-align: right;
    vertical-align: middle;
    z-index: 1;
    cursor: default;
}
#banner .content header {
    display: inline-block;
    vertical-align: middle;
}
#banner .content header p {
    font-family: 'Dancing Script', cursive;
    margin: 0.5em 0 0 0;
    top: 0;
    font-size: 4em;
    margin: 0;
}
#banner .content .image {
    border-radius: 100%;
    display: inline-block;
    height: 18em;
    margin-left: 3em;
    vertical-align: middle;
    width: 18em;
}
#banner .content .image img {
    border-radius: 100%;
    display: block;
    width: 100%;
}
body.is-touch #banner {
    background-attachment: scroll;
}

/*signup*/
#signWrap{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 120;
    top: 0;
    margin: 0;
    position: fixed;
}
#wrap {
    display: none;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%; 
    transform: translateX(-50%) translateY(-50%);
    position: fixed;
    z-index: 130;
}
.form-wrap {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 0 auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
}
.button-wrap {
    padding: 10px 0 10px 6px;
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px rgba(252,174,143, 0.7);
    border-radius: 30px;
}
.togglebtn {
    padding: 8px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
#closeBtn {
    position: absolute;
    font-size: 30px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.75);
    outline: 0;
    top: 15px;
    left: 350px;
}
#loginBtn{color: white;}
#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #dd4a81, #6858dc);
    border-radius: 30px;
    transition: .5s;
}
.social-icons {
    margin: 30px auto;
    text-align: center;
}
.social-icons img {
    width: 30px;
    margin: 0 10px 0 10px;
    cursor: pointer;
}
#login.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
#register.input-group {
    top: 160px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.submit {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #dd4a81, #6858dc);
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkbox {
    margin: 30px 10px 30px 0;
}
.form-wrap span {
    color: #777;
    font-size: 12px;
    bottom: 52px;
    position: absolute;
}
#login {
    left: 50px;
}
#register {
    left: 450px;
} 

/* info */
#info {
    height: 1200px;
    background-color: #000;
    cursor: default;
    position: relative;
}
#info h2 {
    
    color: #fff;
    padding: 300px 150px 50px 150px;
}
.infoTxt{
    font-size: 3em; 
    top: 120px;
    left: 160px;
    color: #fff;
    position: relative;
    font-family: 'Dancing Script', cursive;
}
#info .nextcat{
    border-radius: 10px;
    float: right;
    margin-right: 150px;
    width: 20%;
    margin-top: 11em;
    padding: 0;
}
.text2{
    font-size: 15pt;
    line-height: 1.8em;
    width: 37%;
    margin-top: 220px;
    margin-left: 160px;
    word-break: keep-all;
}
#info #next {
    text-decoration: none;
    clear: both;
    position: absolute;
    margin-top: 500px;
    margin-left: 160px;
    padding: 0;
}
.color-list {
    color: #e44c65;
}
#info ul {list-style: none;}
#info .typing-txt, #info .typing {
    position: absolute;
    font-weight: bolder;
    margin: 3em;
    top: 8em;
    font-size: 3em;
    line-height: 1.87;
}
.typing-txt{display: none;}
.typing ul li.on{  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}
#movie{
    height: 1200px;
}
#movie h2{
    padding: 120px 150px 50px 150px;
}
#movie img.movieLine{
    margin-top: 150px;
    width: 80%;
    float: right;
    opacity: 1;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
}
#movie img.movieLine:hover{
    animation-name: movieAni;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
}
@keyframes movieAni{ 
    100%{opacity: 0.3;} 
  }
#movie span {
    font-family: 'Dancing Script', cursive;
    width: 500px;
    color: #fff;
    font-size: 6.5em;
    text-align: right;
    padding: 50px;
    position: absolute;
    cursor: pointer;
}
.movieTxt1{
    top:2350px;
    left: 450px;
}
.movieTxt2{
    top:2500px;
    left: 200px;
}
.movieTxt3{
    top:2650px;
    left: 455px;
}
.movieNext{
    top: 2890px;
    left: 24%;
    position: absolute;
}
#movie img{
    width: 100%;
}
#movie img.sample {
    margin-top: 500px;
}
/* footer */
footer {
    text-align: center;
    margin: 30px;
    height: 80px;
}

/* 스크롤bar */
::-webkit-scrollbar {
width: 20px;
}
::-webkit-scrollbar-thumb {
background-color: #e44c65;
}
::-webkit-scrollbar-track {
background-color: #fff;
}

/* info-Page */
#infoPage #nav  {
    margin: 18px;
    margin-left: 1%;
}

/* infoCover */
#infoPage #home{
    margin-left: 1.2em;
}
#infoPage .infoBanner{
    width: 100%;
    position: relative;
    z-index: 8;
    
}
#infoPage .infoBack{
    top: -40%;
    position: fixed;
    width: 100%;
    opacity: 0.6;
}
.infoImg {
    display: block;
    position: relative;
    margin-top: 65%;
    width: 100%;
    z-index: 8;
    opacity: 0.5;
    border-radius: 10px;
}
.infoContent input {
    width: 24%;
    height: 8.1em;
    cursor: pointer;
    border: none;
    font-size: 30px;
    color: #000;
    background-color: rgba( 255, 255, 255, 0 );
}
#nimoBtnId {
    top: -17em;
    left: 50.5%;
    position: relative;
    z-index: 9;
}
#hyoriBtnId {
    top: -17em;
    left: 51%;
    position: relative;
    z-index: 9;
}
#badaBtnId {
    top: -8.4em;
    left: 1.3%;
    position: relative;
    z-index: 9;
}
#doriBtnId {
    top: -8.4em;
    left: 1.8%;
    position: relative;
    z-index: 9;
}
#nimoImg {
    border-radius: 12px;
    position: relative;
    width: 40%;
    top: -630px;
    left: 50px;
    display: none;
    z-index: 10;
}
#hyoriImg {
    border-radius: 12px;
    position: relative;
    width: 40%;
    top: -630px;
    left: 50px;
    display: none;
    z-index: 10;
}
#badaImg {
    border-radius: 12px;
    position: relative;
    width: 40%;
    top: -630px;
    left: 50px;
    display: none;
    z-index: 10;
}
#doriImg {
    border-radius: 12px;
    position: relative;
    width: 40%;
    top: -630px;
    left: 50px;
    display: none;
    z-index: 10;
}
#nimoTxtBtn, #hyoriTxtBtn, #badaTxtBtn, #doriTxtBtn{
    position: relative;
    top: -580px;
    left: 22.5%;
    font-size: 1.8em;
    z-index: 11;
    display: none;
}

/* infoConTxt */
#infoConTxt{
    display: none;
}
.infoContent1 {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 700px;
    background-color: #f3432b;
    opacity: 0.3;
    top: -400px;
    border: rgba(0, 0, 0, 0.2) solid 1px;
}
.infoContent2 {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 700px;
    background-color: rgba(0, 0, 0, 0);
    opacity: 0.9;
    top: -3000px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 50px;
}

/* movie */
.content {top: 0;right: 0;bottom: 0;left: 0;}
#moviePage{width: 100%;height: 2000px;}
#movieHeader ul {position: fixed;left: 664px;top: 38px;z-index: 20;}
.movieContent {width: 100%;opacity: 0.5;clear: both;}
#slide{height:400px;position:relative;overflow:hidden;}
#slide ul{width:400%;height:100%;transition:1s;}
#slide ul:after{content:"";display:inline-block;clear:both;}
#slide li{float:left;width:25%;height:100%;}
#slide li:nth-child(1){background: url(../images/lalalandBanner.png);background-size: 100%;}
#slide li:nth-child(2){background: url(../images/herBanner.png);background-size: 100%;}
#slide li:nth-child(3){background: url(../images/floridaBanner.png);background-size: 100%;}
#slide li:nth-child(4){background: url(../images/whiplash.png);background-size: 100%;}
#slide input{display:none;}
#slide label{display:inline-block;vertical-align:middle;width:10px;height:10px;border:2px solid #666;background:#fff;transition:0.3s;border-radius:50%;cursor:pointer;}
#slide .pos{text-align:center;position:absolute;bottom:10px;left:0;width:100%;text-align:center;}
#pos1:checked~ul{margin-left:0%;}
#pos2:checked~ul{margin-left:-100%;}
#pos3:checked~ul{margin-left:-200%;}
#pos4:checked~ul{margin-left:-300%;}
#pos1:checked~.pos>label:nth-child(1){background:#666;}
#pos2:checked~.pos>label:nth-child(2){background:#666;}
#pos3:checked~.pos>label:nth-child(3){background:#666;}
#pos4:checked~.pos>label:nth-child(4){background:#666;}
#movieBTxt1{ display: inline;font-family: 'Abril Fatface', cursive; font-size: 4em; font-weight: lighter;letter-spacing: 0px; color: #fff; left: 20px; top: 280px; position: absolute;}
#movieBTxt2{ display: none;font-family: Arial, Helvetica, sans-serif; font-size: 8em; font-weight: 600;letter-spacing: -23px; color: #fff; left: 20px; top: 280px; position: absolute;}
#movieBTxt3{ display: none;font-family: 'Kaushan Script', cursive; font-size: 5em; letter-spacing: -13px; color: #fff; left: 20px; top: 280px; position: absolute;}
#movieBTxt4{ display: none;font-family: 'Inria Sans', sans-serif; font-size: 5em; font-weight: 600;letter-spacing: -10px; color: #fff; left: 40px; top: 280px; position: absolute;}
.movieWrapper{position: relative;}
.movieContent #contentBack{background-color: #fff;width: 100%;height: 100%;z-index: 20;top: 0;margin: 0;position: relative;}
#movieTxtWrapper{width: 80%;height:600px;left: 10%;border-radius: 10px; position: absolute;top: 400px; background-color: rgba( 255, 255, 255, 0.7);z-index: 10;}
#lalaTxt{display:block;color: #666;padding: 150px 0; font-size: 2em;text-align: center;line-height: 70px;}
#herTxt{display: none; color: #666;padding: 110px; font-size: 2em;text-align: center;line-height: 70px;}
#floridaTxt{display: none;color: #666;padding: 180px 0; font-size: 2em;text-align: center;line-height: 70px;}
#whiplashTxt{display: none;color: #666;padding: 120px 0; font-size: 2em;text-align: center;line-height: 70px;}

/* roadmapPage */
#roadmapPage{height: 1000px;}
#roadMapHeader ul{top: 38px; }
#editor{width: 80%;position: relative;top: 200px;border-radius: 10px;border-top: solid 30px rgba(60, 60, 60, 56); height: 600px; margin: auto; background-color: rgba(30, 30, 30, 28);
border-bottom: solid 20px rgba(0, 122, 204, 96);font-family: Consolas, 'Courier New', monospace;font-size: 16px;line-height: 24px;cursor: text;}
#barImg{float: left; width: 50px;}
#clickNow,#clickThree,#clickFive,#clickAfter,#nowBox,#threeBox,#fiveBox,#afterBox, #afterLoginBox{cursor: pointer;}
#nowBox,#threeBox,#fiveBox,#afterBox,#afterLoginBox{display: none;}


